.navbar {
    width: 100vw;
    height: 15vh;
    padding: 10px 50px;
    background-color: #282828;
    color: #ebdfc5;
    overflow: hidden;
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 50;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    flex-wrap: wrap;
    gap: 50px;
    padding:10px 20px;
}


.logo-container {
    display: flex;
    align-items: center;
}


.logo-image {
    max-height: 90px;
}


.link-container {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-button {
    color: #ebdfc5;        /* Color del texto */
    background: none;      /* Sin fondo */
    border: none;          /* Sin borde */
    cursor: pointer;       /* Cambia el cursor al pasar sobre el botón */
    font-size: 1.5rem;       /* Ajusta el tamaño de la fuente según prefieras */
    padding: 0;            /* Quita el padding para que se vea como texto */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold;     /* Hace que el texto resalte un poco más */
}

.nav-button:hover {
    text-decoration: underline; /* Subrayado en hover para parecer un enlace */
    color: #c36e39;             /* Color diferente en hover */
}


.navbar-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}