.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    display: flex;
    background-color: #c36e39;
    color: #ebdfc5;
    border-radius: 8px;
    
    margin: 10px 0px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card img {
    border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 15px;
}

.card-content {
    text-align: center;
    padding: 10px 0;
}

.card-title {
    font-size: 1.2rem;
    margin: px 0;
}

.card-description {
    font-size: 0.9rem;
    color: #f2f2f2;
}


/* Media Queries para tamaños de pantalla específicos */
@media (max-width: 1089px) {
    .card {
        max-width: 85%; /* Ajusta el ancho máximo de la tarjeta */
        padding-left: 50px; /* Menos padding en los lados */
        padding-right: 50px; /* Menos padding en los lados */
        align-items: center;
    }

    .card img {
        height: 150px; /* Ajusta la altura de la imagen */
    }

    .card-title {
        font-size: 1.1rem; /* Disminuir el tamaño de fuente */
    }

    .card-description {
        font-size: 0.85rem; /* Disminuir el tamaño de fuente */
    }
}

@media (max-width: 640px) {
    .card {
        max-width: 95%; /* Casi ocupa todo el ancho */
        padding: 10px; /* Menos padding general */
        flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
        align-items: center; /* Alinear contenido al centro */
    }

    .card img {
        height: 120px; /* Ajustar la altura de la imagen */
    }

    .card-title {
        font-size: 1rem; /* Ajusta el tamaño de fuente para el título */
    }

    .card-description {
        font-size: 0.75rem; /* Ajusta el tamaño de fuente para la descripción */
    }
    .card:hover {
        transform: none;
    }
}