.navbar {
    height: 15vh;
    padding: 10px 50px;
    background-color: #282828;
    color: #ebdfc5;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    max-height: 90px;
}

.logo-image:hover{
    border-radius: 10px;
    border: 3px solid #c36e39;
}

  

/* Links de la navbar */
.link-container {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 10px;
    align-items: center;
}

.nav-button {
    color: #ebdfc5;        /* Color del texto */
    background: none;      /* Sin fondo */
    border: none;          /* Sin borde */
    cursor: pointer;       /* Cambia el cursor al pasar sobre el botón */
    font-size: 1.5rem;       /* Ajusta el tamaño de la fuente según prefieras */
    padding: 0;            /* Quita el padding para que se vea como texto */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold;     /* Hace que el texto resalte un poco más */
}

.nav-button:hover {
    text-decoration: underline; /* Subrayado en hover para parecer un enlace */
    color: #c36e39;             /* Color diferente en hover */
}

.navbar-content {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

.user-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #c36e39;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .user-circle:hover {
    transform: scale(1.1);
  }

/* Media queries para hacerlo responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .navbar-content {
        flex-direction: column;
        align-items: center;
    }

    .logo-image {
        max-height: 70px; /* Ajuste de tamaño para pantallas pequeñas */
    }

    .link-container {
        flex-direction: column; /* Alineación vertical de los links */
        gap: 0.5rem;
    }
}

@media (max-width: 480px) {
    .logo-image {
        max-height: 50px;
    }

    .link-container li a {
        font-size: clamp(14px, 4vw, 18px); /* Tamaño más pequeño en pantallas pequeñas */
    }
}
