footer { 
    display: flex;
    max-width: 100%;
    height: 15vh;
    padding: 10px 50px; 
    background-color: #282828;
    color: #ebdfc5;  
    font-family: 'Helvetica Neue', Helvetica, Arial;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; 
    height: 100%; 
    margin: 8px; 
    
}

.foot li{list-style: none;}
.foot ul{padding: 0px;}


.logoFooter{
    display: flex;
    flex-direction: column; 
    width: 15%;
}


.Categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
    width: 30%;

}
.redesSociales {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 50%; 
    transform: scale(1.5);
   
}

@media (max-width: 1000px) {
    .categorias{
      flex-direction: column;
    }
    .redesSociales{
        flex-direction: column;
    }
    .copyright{ visibility: hidden}
    .foot { align-items: flex-start}
    
  }





 
