
/* Estilos generales */
body, .app-body {
  margin: 0;
  padding: 0;
  background-color: #282828; /* Color de fondo principal */
  color: #ebdfc5; /* Color de texto */
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_cat{
  color:#282828;
  text-align: left;
}

/* Search Section */
.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #ebdfc5;
}

.logo {
  width: 60px;
  height: 60px;
}

.title {
  color: #c36e39; /* Color secundario */
  font-size: 24px;
  margin: 0;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #653420; /* Detalles */
  background-color: #282828;
  color: #ebdfc5;
}

/* Categories Section */
.categories-section {
  background-color: #ebdfc5;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 20px 0;
}

.categories-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.categories-list li {
  background-color: #c36e39;
  padding: 10px 20px;
  color: #ebdfc5;
  font-weight: bold;
  border-radius: 5px;
}

/* Recommendations Section */
.recommendations-section {
  background-color: #282828;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 20px 0;
}

.recommendation-item {
  background-color: #c36e39;
  padding: 15px;
  margin: 10px;
  color: #ebdfc5;
  font-weight: bold;
  border-radius: 5px;
}

/* Estilos Responsivos */

/* Pantallas menores a 768px (tablets y móviles) */
@media (max-width: 768px) {
  .search-section {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 20px;
  }

  .search-input {
    width: 90%;
    margin: 10px 0;
  }

  .categories-list {
    flex-direction: column;
    gap: 10px;
  }

  .recommendation-item {
    margin: 5px 0;
  }
}

/* Pantallas menores a 480px (móviles pequeños) */
@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .search-input {
    width: 100%;
  }

  .categories-list li {
    padding: 8px 15px;
  }

  .recommendation-item {
    padding: 10px;
  }
}